@CHARSET "ISO-8859-1";

.job_form{
	    
    background-color:#D6EAF8;
      padding-top:.5em;
           left:10%;
           height:39em;
           width:46em;
         margin-left:5vw;
            
}
